
services:
  # 1. The Database
  db:
    image: postgres:13
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydatabase
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  # 2. The Backend (Kitchen)
  server:
    build: ./server
    ports:
      - "5000:5000"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://user:password@db:5432/mydatabase
    # This enables Hot Reloading
    volumes:
      - ./server:/app
      - /app/node_modules

  # 3. The Frontend (Dining Room)
  client:
    build: ./client
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true
    # This enables Hot Reloading
    environment:
      - CHOKIDAR_USEPOLLING=true # Needed for Windows to catch changes
    volumes:
      - ./client:/app
      - /app/node_modules
  # 4. Database Manager (New!)
  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "5050:80"
      
volumes:
  pgdata: